body {
    background-color: hsl(273, 75%, 66%);
}

.contentquestions {
    background-color: hsl(240, 5%, 91%);
    font-family: Kumbh Sans;
    font-size: 12px;
    margin: 10px;
}

.faq {
    font-weight: 700;
    text-align: center;
}

.questions {
    font-weight: 400;
    color: hsl(238, 29%, 16%);
}
.answers {
    font-weight: 400;
    color: hsl(238, 29%, 16%); 
}

.ilustration {
    width: 320px;
    height: 280px;
}
.img1 {
    width: 320px;
    height: 180px;
}

.img2 {
    width: 320px;
    height: 100px;

}
